* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  width: 100%;
  height: 50px;
  background-color: red;
}

.header-visual {
  width: 100%;
  height: 500px;
  background-color: orange;
}

.main {
  display: flex;
  justify-content: center;
}

.main-background {
  width: 960px;
  height: 1400px;
  background-color: palegreen;
  display: flex;
  justify-content: center;
}

.main-center {
  width: 500px;
  height: 1400px;
  background-color: green;
}

.footer {
  width: 100%;
  height: 100px;
  background-color: blue;
}
